In [1]:
#import dependencies
import pandas as pd
import numpy as np
import os
import glob

In [2]:
#create list of .csv files from kaggle
kaggle_list = []
path = 'DataFiles/*.csv'

for fname in glob.glob(path):
    kaggle_list.append(fname)

In [3]:
#create dictionary of df's with kaggle_list as keys and df's from .csv files as values
kaggle_dict = {}

for file in kaggle_list:
    kaggle_dict[os.path.splitext(os.path.basename(file))[0]] = pd.DataFrame(pd.read_csv(file, sep=",", encoding='cp1252'))

In [5]:
kaggle_dict.keys()

dict_keys(['Cities', 'Conferences', 'ConferenceTourneyGames', 'GameCities', 'NCAATourneyCompactResults', 'NCAATourneyDetailedResults', 'NCAATourneySeedRoundSlots', 'NCAATourneySeeds', 'NCAATourneySlots', 'RegularSeasonCompactResults', 'RegularSeasonDetailedResults', 'Seasons', 'SecondaryTourneyCompactResults', 'SecondaryTourneyTeams', 'TeamCoaches', 'TeamConferences', 'Teams', 'TeamSpellings'])

In [58]:
dummy_tourney_cr = kaggle_dict['NCAATourneyCompactResults'].copy()
dummy_tourney_cr = dummy_tourney_cr.loc[dummy_tourney_cr.DayNum == 154] # only winners of tourney

dummy_tourney_cr['winning_team_name'] = dummy_tourney_cr['WTeamID'].apply(apply_team_name)
dummy_tourney_cr['losing_team_name'] = dummy_tourney_cr['LTeamID'].apply(apply_team_name)

dummy_tourney_cr.tail()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,winning_team_name,losing_team_name
1915,2014,154,1163,60,1246,54,N,0,Connecticut,Kentucky
1982,2015,154,1181,68,1458,63,N,0,Duke,Wisconsin
2049,2016,154,1437,77,1314,74,N,0,Villanova,North Carolina
2116,2017,154,1314,71,1211,65,N,0,North Carolina,Gonzaga
2183,2018,154,1437,79,1276,62,N,0,Villanova,Michigan

In [61]:
dummy_tourney_cr.loc[dummy_tourney_cr.NumOT == 1]

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,winning_team_name,losing_team_name
314,1989,154,1276,80,1371,79,N,1,Michigan,Seton Hall
818,1997,154,1112,84,1246,79,N,1,Arizona,Kentucky
1519,2008,154,1242,75,1272,68,N,1,Kansas,Memphis

In [56]:
def apply_team_name(team_id):
    team_name = kaggle_dict['Teams'].loc[kaggle_dict['Teams'].TeamID == team_id]['TeamName'].item()
    return team_name

In [55]:
kaggle_dict['Teams'].loc[kaggle_dict['Teams'].TeamID == 1437]['TeamName'].item()

'Villanova'

In [6]:
#setup confinguation variables to enable Splinter to interact with browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [7]:
#define starting url and pass into Spliter
url = 'https://kenpom.com/'
browser.visit(url)

In [8]:
#create HTML object
html = browser.html

#iterate through each year's link and create df from html
for year in range(2002,2019,1):
    url = 'https://kenpom.com/index.php?y=' + str(year)
    stats_list = pd.read_html(url)
    stats_df = stats_list[0]
    
    #clean up/rename columns for df
    stats_df.columns = stats_df.columns.droplevel(0)
    del stats_df.columns.name
    stats_df.columns = ['rk', 'TeamName', 'conf', 'w-l', 'adjEM', 'adjO', 
                        'adjO_r', 'adjD', 'adjD_r', 'adjT', 'adjT_r','luck', 
                        'luck_r', 'oppEM', 'oppEM_r', 'oppO', 'oppO_r', 'oppD', 'oppD_r', 
                        'ncsos_adjEM', 'ncsos_adjEM_r']

    #cleaned up data within datafram
    stats_df_clean = stats_df.dropna(axis = 0, how = 'any')
    stats_df_clean['TeamName'] = stats_df_clean['TeamName'].str.replace('\d+', '')
    stats_df_clean['TeamName'] = stats_df_clean['TeamName'].str.replace(' +$', '')
    
    #use SequenceMatcher to align teams between kaggle and kenpom data sources
#         stats_df_clean['merge_TeamName'] = stats_df_clean['TeamName']
#         for team_a in stats_df_clean['TeamName'].values:
#             for ixb, team_b in enumerate(kaggle_dict['Teams']['TeamName'].values):
#                 if difflib.SequenceMatcher(None,team_a,team_b).ratio() > .95:
#                     kaggle_dict['Teams'].ix[ixb,'merge_TeamName'] = team_a
    
    #joint kaggle and kenpom data sources (Teams df) based on team name
    stats_df_joined = pd.merge(stats_df_clean, kaggle_dict['Teams'], on = 'TeamName', how = 'left')

    #drop all columns added to kenpom data except for teamID which will be used to make schema work across all the kaggle data
    stats_df_final = stats_df_joined.drop(['FirstD1Season', 'LastD1Season'], axis = 1)

    #pass final df into sql titled by year
    try:
        stats_df_final.to_sql('kenpom_' + str(year), engine, if_exists = 'replace', index = False)
    except ValueError:
        pass
    except AttributeError:
        pass

C:\Users\jgross\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\jgross\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
Base = automap_base()
try:
    Base.prepare(engine, reflect = True)
except AttributeError:
    pass